<h1><%= @post.title %></h1>
<br>
<p><%= @post.content %></p>
<br>
<ul>
<% @post.comments.each do |c| %>
<li><%= c.content %></li>
<% end %>
</ul>
<ul>
<% @post.users.each do |u| %>
<li><%= user.username %></li>
<% end %>
</ul>
<%= form_for @post do |f| %>
<%= f.collection_select :user_username, User.all, :id, :username %>
<%= f.text_area :content $>
